*{
    padding-top: 20px; 
 }

body {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.PetContainer {
    position: relative;
    height: 200px;
    width: 200px;
    background-color: orange;
    border-radius: 50%;
}

.Pet {
    position:absolute;
    bottom: 50%;
    left: 25%;
    transform: translateX(-50%);
    width: 80px;
    height: 80px;
    -webkit-animation: linear infinite;
    -webkit-animation-name: run;
    -webkit-animation-duration: 10s;
}

@-webkit-keyframes run {
    0% {
      left: 0;
    }
    48% {
      -webkit-transform: rotateY(0deg); 
    }
    50% { 
      left: calc(100% - 100px);
      -webkit-transform: rotateY(180deg); 
    }
    98% {
      -webkit-transform: rotateY(180deg); 
    }
    100% {
      left: 0;    
       -webkit-transform: rotateY(0deg);
    }
  }
  
.Actions {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

button {
    padding: 10px 20px;
    font-size: 14px;
    background-color: black;
    color: white;
    cursor: pointer;
}